.App {
    text-align: center;
    padding-top: 20pt;
}

.App-menu {
    margin: auto;
    width: 20%;
}

.App-menu-button {
    margin-top: 20pt;
}

.App-rules {
    margin-top: 20pt;
    margin-left: -150%;
    width: 400%;
    text-align: justify;
}
