.Game {
}

.Game-left {
    background-position:50% 50%;
    background-size: cover;
    background-image: url(http://www.setwalls.ru/pic/201305/1680x1050/setwalls.ru-52829.jpg);
}

.Game-right {
    background-position:50% 50%;
    background-size: cover;
    background-image: url(http://bgfons.com/uploads/leather/leather_texture4315.jpg)
}

.Game-players {
    list-style-type: none;
    background-color: antiquewhite;
    opacity:0.7;
}

.Game-deck {
    background-color: Snow;
    height: 60pt;
    width: 50pt;
    text-align: center;
    line-height: 60pt;
    vertical-align: middle;
    border: 1px solid black;
}

.Game-timer-img {
    height: 60pt;
}

.Game-timer {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Game-association {
    background-color: darkorange;
    opacity:0.7;
}

.Game-association-input {
    background-color: darkorange;
    opacity:0.7;
}

.Game-card-big {
    background-position:50% 50%;
    background-size: cover;
    background-image:url(http://luxfon.com/pic/201203/2560x1440/luxfon.com-6938.jpg);
    height: 300pt;
}

.Game-cards {
    height: 80pt;
}

.Game-card {
    height: 100%;
    width: 100%;
    margin-right: 5pt;
}

.Game-btn-card {
    height: 100px;
    width: 67px;
    display: block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin-bottom: 5pt;
}