.Game {
}

.Game-left {
    background-color: aqua;
}

.Game-right {
    background-color: aquamarine;
}

.Game-players {
    list-style-type: none;
    background-color: antiquewhite;
}

.Game-deck {
    background-color: chartreuse;
    height: 60pt;
    width: 50pt;
    text-align: center;
    line-height: 60pt;
    vertical-align: middle;
    border: 1px solid black;
}

.Game-timer {
    background-color: blueviolet;
}

.Game-association {
    background-color: darkorange;
}

.Game-association-input {
    background-color: darkorange;
}

.Game-card-big {
    background-color: cornflowerblue;
    height: 300pt;
}

.Game-cards {
    height: 80pt;
}

.Game-card {
    height: 100%;
    width: 100%;
    margin-right: 5pt;
}

.Game-btn-select {

}

.Game-btn-card {
    height: 100px;
    width: 67px;
    display: block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin-bottom: 5pt;
}