.TurnEnd-player-name {
    float: left;
    margin-right: 5pt;
}

.TurnEnd-btn-card {
    height: 50px;
    width: 38px;
    display: block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.TurnEnd-correct {
    background-position:50% 50%;
    background-size: cover;
    background-image: url(http://bgfons.com/uploads/leather/leather_texture4315.jpg);
    color: snow;
    text-shadow: 2px 2px 3px #000;

}